<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>登录</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
    <body background="/static/pic/login.jpg">

    <div class="login-card" style="width: 600px; height: 400px; margin: auto; margin-top: 200px;">
        <div class="card">


        <h2 style="padding-left: 55px; padding-top: 55px">登录</h2>
        <div class="row">
            <form class="col s12" id="log_form" action="" method="post">
              <div class="row" style="margin-left: 50px;">
{#                <div class="row" style="margin-top: 10px">#}
{#                    <div class="input-field col s10">#}
{#                        <input id="bookstore_name" type="text" class="validate" name="bookstore_name">#}
{#                        <label for="bookstore_name">书店名</label>#}
{#                        <div class="input-field col s12">#}
{#                            <i class="material-icons prefix">account_circle</i>#}
{#                            <select id="store_name" type="text" name="store_name">#}
{#                              <option value="" disabled selected>书店名</option>#}
{#                              <option value="曲江书城">曲江书城</option>#}
{#                              <option value="言几又 迈科中心">言几又 迈科中心</option>#}
{#                              <option value="中信书店">中信书店</option>#}
{#                              <option value="止间书店">止间书店</option>#}
{#                            </select>#}
{#                            <label>Materialize Select</label>#}
{#                          </div>#}
{#                        <script>#}
{#                            document.addEventListener('DOMContentLoaded', function() {#}
{#                                var elems = document.querySelectorAll('select');#}
{#                                var instances = M.FormSelect.init(elems);#}
{#                            });#}
{#                        </script>#}
{#                    </div>#}
{#                </div>#}

                <div class="row" style="margin-top: 10px">
                    <div class="input-field col s10" name="password">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" type="password" class="validate" name="password">
                        <label for="password">密码</label>
                    </div>
                </div>
                <div class="row" style="margin-top: 30px;">

                    <a class="waves-effect waves-light btn modal-trigger col s4" href="/supplier" onclick="login()" style="margin-left: 50px">登录</a>

                  <!-- Modal Structure -->
                  <div id="modal1" class="modal" style="margin-top: 130px">
                    <div class="modal-content">
                      <h4>信息错误</h4>
                      <p>请输入用户名</p>
                    </div>
                    <div class="modal-footer" style="padding-right: 25px">
                      <a href="#!" class="modal-close waves-effect waves-light btn">确定</a>
                    </div>
                  </div>

                    <a class="waves-effect waves-light btn col s4" style="margin-left: 30px" href="/ ">返回</a>
                </div>
                <script src="/static/js/admin_login.js"></script>
              </div>
            {% csrf_token %}
            </form>
        </div>

        </div>

    </div>
    </div>

    <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

</body>
</html>